/* Reiniciar estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales del cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Hace que el cuerpo ocupe al menos el 100% del alto de la ventana */
}

/* Imagen de fondo para el cuerpo */
body::before {
    content: '';
    background-image: url('../../../img/background/background.jpeg');
    background-repeat: repeat; /* Permite que la imagen se repita */
    background-size: auto; /* Mantiene la resolución original de la imagen */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Logo */
#logo {
    height: 90px;
    width: auto;
}

/* Contenedor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex: 1; /* Hace que este contenedor ocupe todo el espacio disponible */
}

/* Cabecera */
header {
    background-color: #ffffff;
    padding: 20px 0;
    border-bottom: 1px solid #dddddd;
}

/* Estilos del menú de navegación */
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333333;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav .nav-link {
    color: #333333;
    margin-left: 20px;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

/* Contenido principal */
.content {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

/* Estilos para los títulos de sección */
.content h2 {
    color: #333333;
}

/* Estilos para el texto de sección */
.content p {
    color: #666666;
    line-height: 1.6;
    margin: 10px;
}

/* Estilos para los títulos de sección */
.content h2 {
    color: #333333;
}

/* Estilos para el texto de sección */
.content p {
    color: #666666;
    line-height: 1.6;
}


.content-section h2 {
    color: #333333;
    position: relative; /* Añadido para posicionar el separador */
}

.content-section h2::after {
    content: ''; /* Necesario para que aparezca el elemento pseudo */
    position: absolute; /* Posiciona el elemento relativo al título */
    bottom: -5px; /* Ajuste para la posición de la línea */
    left: 0;
    width: 100%;
    height: 2px; /* Grosor de la línea */
    background-color: #333333; /* Color de la línea */
    z-index: 1; /* Ajusta la posición z para que esté sobre el contenido */
}

.content-section p {
    color: #666666;
    line-height: 1.6;
}

.redes-sociales li a {
    color: #ffffff;
    text-decoration: none;
}

/* Pie de página */
footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 20px; /* Ajusta el relleno del pie de página */
}

footer h4 {
    color: #ffffff;
    margin-bottom: 20px; /* Reducido el margen inferior */
}

footer .redes-sociales {
    margin: 5px auto;
    padding: 0;
}

footer .redes-sociales li {
    display: inline-block;
    margin-right: 0; /* Cambiado a 0 para eliminar el margen derecho */
}

footer .redes-sociales li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}

footer img {
    height: 50px; /* Ajustar la altura de las imágenes */
    width: auto; /* Permitir que el ancho se ajuste automáticamente */
    vertical-align: middle; /* Alinea verticalmente las imágenes con el texto */
    margin-right: 10px; /* Añade un pequeño margen a la derecha de las imágenes */
    margin-top: 5px;
    margin-bottom: -5px; /* Reducir el espacio inferior */
}

footer .col-md-6 {
    margin: 0 10px; /* Reducido el margen entre las columnas */
    flex: 1; /* Distribuye el espacio de manera equitativa */
}

iframe {
    border: 1px solid #dddddd;
}

/* Estilos para los títulos */
h1, h2, h3, h4 {
    margin-top: 30px;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    text-align: center;
}

/* Estilos para el texto */
p, ol, ul {
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

.col-md-6 {
    border-right: 1px solid #dddddd; /* Agrega una línea gris clara a la derecha de la primera columna */
    padding-right: 15px; /* Ajusta el espacio entre el borde derecho y el contenido */
}

.col-md-6:last-child {
    border-right: none; /* Elimina la línea gris clara a la derecha de la última columna */
    padding-left: 15px; /* Ajusta el espacio entre el borde izquierdo y el contenido */
}

.col-md-6:first-child {
    border-right: 1px solid #dddddd; /* Agrega una línea gris clara a la derecha de la primera columna */
}

.accordion-item {
    overflow: hidden; /* Para evitar el desplazamiento del contenido al abrirse */
}

.accordion-button {
    width: 100%; /* Para que el botón ocupe todo el ancho del contenedor */
    text-align: left; /* Alineación del texto a la izquierda */
}

/* Estilos específicos para dispositivos de tamaño medio */
@media screen and (max-width: 992px) {
    .container {
        max-width: 100%; /* Ocupa todo el ancho de la pantalla en dispositivos de tamaño medio */
    }
}

.card p{
    margin-bottom: 20px;
}
/* Estilos específicos para dispositivos pequeños */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px; /* Ajusta el padding para dispositivos pequeños */
    }

    footer {
        position: relative; /* Cambia la posición a relativa para que no tape el contenido */
    }

    .col-md-6 {
        border-right: none; /* Elimina el borde derecho en dispositivos pequeños */
        padding-right: 0; /* Elimina el relleno derecho */
        padding-left: 0; /* Elimina el relleno izquierdo */
    }
}

/* Estilos específicos para dispositivos muy pequeños */
@media screen and (max-width: 576px) {
    .container {
        padding: 10px; /* Ajusta el padding para dispositivos muy pequeños */
    }

    footer {
        position: relative; /* Cambia la posición a relativa para que no tape el contenido */
    }

    body::before {
        background-size: cover; /* Cambia el tamaño del fondo para cubrir completamente */
    }

    .container, .col-md-6 {
        max-width: 100%; /* Ocupa todo el ancho de la pantalla en dispositivos muy pequeños */
    }

    iframe {
        max-width: 100%; /* Ajusta el ancho máximo del iframe al 100% del contenedor padre */
    }

    body {
        overflow-x: hidden; /* Evita el desplazamiento horizontal */
    }
    .col-md-6 {
        border-right: 1px solid #dddddd; /* Agrega una línea gris clara a la derecha de la primera columna */
        padding-right: 15px; /* Ajusta el espacio entre el borde derecho y el contenido */
    }
    
    .col-md-6:last-child {
        border-right: none; /* Elimina la línea gris clara a la derecha de la última columna */
        padding-left: 15px; /* Ajusta el espacio entre el borde izquierdo y el contenido */
    }
    
    .col-md-6:first-child {
        border-right: 1px solid #dddddd; /* Agrega una línea gris clara a la derecha de la primera columna */
    }
}

