/* Reiniciar estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales del cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    position: relative;
}

/* Imagen de fondo para el cuerpo */
body::before {
    content: '';
    background-image: url('../img/background/background.jpeg');
    background-repeat: repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Logo */
#logo {
    height: 90px;
    width: auto;
}

/* Contenedor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Cabecera */
header {
    background-color: #ffffff;
    padding: 20px 0;
    border-bottom: 1px solid #dddddd;
}

/* Estilos del menú de navegación */
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333333;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav .nav-link {
    color: #333333;
    margin-left: 20px;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

/* Contenido principal */
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 20px;
}

.content-section {
    width: 48%;
    margin-bottom: 20px;
}

.content-section h2 {
    color: #333333;
    position: relative; /* Añadido para posicionar el separador */
}

.content-section h2::after {
    content: ''; /* Necesario para que aparezca el elemento pseudo */
    position: absolute; /* Posiciona el elemento relativo al título */
    bottom: -5px; /* Ajuste para la posición de la línea */
    left: 0;
    width: 100%;
    height: 2px; /* Grosor de la línea */
    background-color: #333333; /* Color de la línea */
    z-index: 1; /* Ajusta la posición z para que esté sobre el contenido */
}

.content-section p {
    color: #666666;
    line-height: 1.6;
}

.redes-sociales li a {
    color: #ffffff;
    text-decoration: none;
}

/* Pie de página */
footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

footer h4 {
    color: #ffffff;
    margin-bottom: 20px;
}

iframe {
    border: 1px solid #dddddd;
}

/* Estilos para los títulos */
h1, h2, h3, h4 {
    margin-top: 30px;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    text-align: center;
}

/* Estilos para el texto */
p, ol, ul {
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}
.col-md-6 {
    border-right: 1px solid #dddddd; /* Agrega una línea gris clara a la derecha de la primera columna */
    padding-right: 15px; /* Ajusta el espacio entre el borde derecho y el contenido */
}

.col-md-6:last-child {
    border-right: none; /* Elimina la línea gris clara a la derecha de la última columna */
    padding-left: 15px; /* Ajusta el espacio entre el borde izquierdo y el contenido */
}

.col-md-6:first-child {
    border-right: 1px solid #dddddd; /* Agrega una línea gris clara a la derecha de la primera columna */
}
.accordion-item {
    overflow: hidden; /* Para evitar el desplazamiento del contenido al abrirse */
}

.accordion-button {
    width: 100%; /* Para que el botón ocupe todo el ancho del contenedor */
    text-align: left; /* Alineación del texto a la izquierda */
}