/* Reiniciar estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales del cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    position: relative;
}

/* Imagen de fondo para el cuerpo */
body::before {
    content: '';
    background-image: url('../../../img/background/background.jpeg'); /* Ruta ajustada */
    background-repeat: repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Logo */
#logo {
    height: 90px;
    width: auto;
}

/* Contenedor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Cabecera */
header {
    background-color: #ffffff;
    padding: 20px 0;
    border-bottom: 1px solid #dddddd;
}

/* Estilos del menú de navegación */
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333333;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav .nav-link {
    color: #333333;
    margin-left: 20px;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

/* Contenido principal */
.payment-container {
    min-height: calc(100vh - 160px); /* Ajusta la altura mínima del contenido para ocupar todo el espacio disponible entre el header y el footer */
    background-color: #ffffff;
    padding: 20px;
    text-align: center; /* Centra el contenido */
}

/* Estilos para el título "Pago único" */
.payment-container h1 {
    margin-top: 0; /* Elimina el margen superior del título para eliminar el espacio vacío */
    margin-bottom: 20px; /* Ajusta el margen inferior del título */
}

/* Estilos para el selector de cantidad */
#cantidad_donacion {
    text-align: center; /* Centra el texto dentro del selector */
    max-width: 200px; /* Ajusta el ancho máximo del selector */
    margin: 0 auto; /* Centra horizontalmente el selector */
}

/* Estilos para el botón de donar */
.payment-btn {
    margin-top: 20px;
}

/* Pie de página */
.payment-footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    z-index: 2;
    position: absolute; /* Cambia a posición absoluta */
    bottom: 0; /* Fija el footer en la parte inferior de la ventana */
}
/* Estilos para el selector de cantidad */
#cantidad_donacion {
    text-align: center; /* Centra el texto dentro del selector */
    max-width: 200px; /* Ajusta el ancho máximo del selector */
    margin: 0 auto; /* Centra horizontalmente el selector */
    display: block; /* Ajusta el elemento como bloque */
    margin-left: auto; /* Centra horizontalmente */
    margin-right: auto; /* Centra horizontalmente */
}
