<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Sitio Web</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/generalstyle.css"> <!-- Tu archivo de estilos personalizado -->
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><img  id="logo" src="../../img/logo/logo.png"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../../index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Donaciones</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Mas informacion
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="../preguntas_frecuentes/preguntas_frecuentes.html">Preguntas frequentes</a></li>
                      <li><a class="dropdown-item" href="../ayuda/ayuda.html">Ayuda</a></li>
                      <li><a class="dropdown-item" href="../soporte/soporte.html">Soporte</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>    
    </header>
    <div class="container content">
        <div class="row">
            <div class="col-md-6">
                <h2>Sobre Nosotros</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat lectus sed nunc porta, id pretium purus lacinia.</p>
                <h3>Nuestra Misión</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat lectus sed nunc porta, id pretium purus lacinia.</p>
                <h3>Nuestra Visión</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat lectus sed nunc porta, id pretium purus lacinia.</p>
            </div>
            <div class="col-md-6">
                <h2>Nuestra Ubicación</h2>
                <p><strong>Dirección:</strong> 123 Calle Principal, Ciudad, País</p>
                <p><strong>Teléfono:</strong> +123 456 789</p>
                <p><strong>Correo Electrónico:</strong> info@tuempresa.com</p>
                <p><strong>Horario de Atención:</strong> Lunes a Viernes, 9:00 AM - 5:00 PM</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124722.90020747415!2d-0.24168136351087684!3d51.52877184110719!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604d3f2ad8e4d%3A0x1c36f5b6ba0a910!2sLondon%2C%20UK!5e0!3m2!1sen!2suk!4v1643901309354!5m2!1sen!2suk" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <h2>Nuestros Servicios</h2>
                <h3>Servicio 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat lectus sed nunc porta, id pretium purus lacinia.</p>
                <h3>Servicio 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat lectus sed nunc porta, id pretium purus lacinia.</p>
            </div>
            <div class="col-md-6">
                <h2>Testimonios de Clientes</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat lectus sed nunc porta, id pretium purus lacinia.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat lectus sed nunc porta, id pretium purus lacinia.</p>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <h4>Contactanos</h4>
                    <!-- Agrega aquí tus detalles de contacto -->
                </div>
                <div class="col-md-6 text-center">
                    <h4>Redes Sociales</h4>
                    <!-- Agrega aquí tus enlaces a redes sociales -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <!-- Agrega aquí tu logo -->
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>
