<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="8;url=../donaciones.html">
    <title>Agradecimiento por tu Donación</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        /* Estilos personalizados aquí */
        body {
            background-color: #f8f9fa;
            text-align: center;
        }
        .container {
            padding-top: 50px;
            text-align: center;
        }
        h1 {
            color: #333;
        }
        p {
            font-size: 18px;
            color: #6c757d;
        }
        #redirect {
            font-size: small;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>¡Agradecemos tu Generosa Donación!</h1>
        <p>Querido donante,</p>
        <p>En nombre de Sigma-ONG, nos gustaría expresar nuestro más sincero agradecimiento por tu generosa donación. Tu contribución  permitirá que sigamos adelante con nuestra misión de concienciar a la poblacion.</p>
        <p>Tu apoyo significa mucho para nosotros y para las personas a las que servimos. Gracias por unirte a nosotros en esta importante labor.</p>
        <p>Atentamente,<br>Albert Romero Lorente</p>
    </div>
    <p id="redirect">Serás redirigido automáticamente a la página anterior en unos segundos...</p>
</body>
</html>
